<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="APP_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <logger name="com.franklin.samples.haveibeenpwned.command" level="INFO" additivity="false">
        <appender-ref ref="APP_STDOUT" />
    </logger>
    <root level="ERROR">
        <appender-ref ref="APP_STDOUT" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>